body{
    margin: 3% 22%;
    background-color: rgb(245, 245, 245);
}

.font-open-sans{
    font-family: 'Open Sans', sans-serif;
}

.font-josefin{
    font-family: 'Josefin Sans', sans-serif;
}

.font-bold{
    font-weight: bold;
}

.font-italic{
    font-style: italic;
}

.font-light-transparency{
    color: rgba(255, 255, 255, 0.9);
}

.font-orange{
    color: #E34234;
}

.font-20{
    font-size: 20px;
}

.font-32{
    font-size: 32px;
}

.card{
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(100, 100, 100, 0.75);
}

.bg-white{
    background-color: white;
}

.padding-32{
    padding: 32px;
}

.link{
    color: white;
    text-decoration: none;
    transition: 0.5s all ease;
}

.link:hover{
    color: rgb(230, 230, 230);
    text-decoration: none;
}

header{
    color: white;
    background-color: #E34234;
    padding: 100px 100px 100px 100px;
}

section{
    margin-top: 20px;
}

p{
    color: rgb(90, 90, 90);
}

#nama{
    font-size: 40px;
}

.grid{
    display: grid;
    grid-template-columns: 200px auto;
}

#profile p{
    margin: 0;
}

#profile img{
    max-width: 80%;
    border-radius: 5px;
}

#biodata ul{
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-left: 0;
}

#motto-quote{
    text-align: center;
    font-size: 22px;
}